.kaoto-form-container {
  box-sizing: border-box;
}

.kaoto-form {
  padding: 0.5rem 0;
  max-width: 100%;
  box-sizing: border-box;

  &__empty {
    display: block;
  }

  &:has(*) + &__empty {
    display: none;
  }
}
