@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.cs--project-banner {
  display: flex;
  align-items: center;
  block-size: $spacing-08; // 40px
  flex-shrink: 0;
  padding-inline: $spacing-05;
  background-color: $layer;
}
