html body {
  /*
   * Remove the default white background color of the body element
   * provided by the Multiplying Architecture theme.
   */
  background-color: transparent !important;
}

.shell {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  background-color: var(--pf-t--global--background--color--secondary--default);

  // Tab header shouldn't grow or shrink
  > div[role='region'] {
    flex-grow: 0;
    flex-shrink: 0;
  }

  // Tab content for Design canvas is not scrollable
  div#{&}__tab-content {
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
  }

  // Tab content is scrollable
  div#{&}__tab-content--scrollable {
    padding: 0 15px 15px;
    overflow: scroll;
  }
}

div[data-envelope-context='vscode'].shell .pf-v6-c-toolbar {
  row-gap: 0;
  padding-block: 0;
}
