.step-icon {
  position: absolute;
  top: -12px;
  margin: var(--pf-t--global--spacer--xs);

  &__disabled {
    right: -12px;
  }

  &__processor {
    left: -12px;
  }
}

@mixin highligth {
  --custom-node-BorderColor: var(--pf-t--global--border--color--default);
  --custom-node-BorderColor-hover: var(--pf-t--global--border--color--hover);
  --custom-component-dropTarget: var(--pf-t--global--color--status--success--default);
  --custom-component-possibleDropTarget: var(--pf-t--global--color--brand--100);
  --custom-group-border-dropTarget: 8px solid var(--custom-component-dropTarget);
  --custom-group-border-possibleDropTarget: 8px dashed var(--custom-component-possibleDropTarget);
  --custom-node-BorderColor-possibleDropTargets: var(--pf-t--global--border--color--default);
  --custom-node-BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --custom-node-BorderRadius: 10px;
  --custom-node-Shadow: var(--pf-t--global--box-shadow--md);
  --custom-node-border-width: 5px;

  &[data-selected='true'] {
    --custom-node-BorderColor: var(--pf-t--global--color--brand--default);
  }

  &[data-warning='true'] {
    --custom-node-BorderColor: var(--pf-t--global--border--color--status--danger--default);
  }

  foreignObject:first-of-type {
    overflow: visible;
  }

  @content;
}

@mixin container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  cursor: pointer;
}

@mixin selected {
  border: 2px solid var(--custom-node-BorderColor);
}

@mixin disabled {
  filter: grayscale(100%);
  font-style: italic;
}

@mixin label {
  text-align: center;

  & &__text {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    cursor: pointer;

    span:not([data-warning='true']) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @content;
  }
}

@mixin drag-node {
  opacity: 0.5;
  transform: scale(0.7);
  transform-origin: center;
}

@mixin drag-group {
  opacity: 0.5;
}
