.disabled-step-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: var(--pf-t--global--spacer--xs);
}

@mixin highligth {
  --custom-node-BorderColor: var(--pf-t--global--border--color--default);
  --custom-node-BorderColor-hover: var(--pf-t--global--border--color--hover);
  --custom-node-BorderColor-dropTarget: var(--pf-t--global--color--nonstatus--green--hover);
  --custom-node-BackgroundColor: var(--pf-t--global--background--color--primary--default);
  --custom-node-BorderRadius: 10px;
  --custom-node-Shadow: var(--pf-t--global--box-shadow--md);

  &[data-selected='true'] {
    --custom-node-BorderColor: var(--pf-t--global--color--brand--default);
  }

  &[data-warning='true'] {
    --custom-node-BorderColor: var(--pf-t--global--border--color--status--danger--default);
  }

  foreignObject:first-of-type {
    overflow: visible;
  }

  @content;
}

@mixin container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  cursor: pointer;
}

@mixin selected {
  border: 2px solid var(--custom-node-BorderColor);
}

@mixin disabled {
  filter: grayscale(100%);
  font-style: italic;
}

@mixin label {
  text-align: center;

  & &__text {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    cursor: pointer;

    span:not([data-warning='true']) {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @content;
  }
}

@mixin drop-target {
  border: 2px dashed var(--custom-node-BorderColor-dropTarget);
  border-radius: 5px;
}
