/* stylelint-disable-next-line selector-class-pattern */
.custom-node__image {
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  justify-content: center;

  img {
    max-height: 80%;
  }
}
