.node-title {
  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 2px;

    &__choice {
      font-style: italic;
    }

    &__abstract {
      font-style: italic;
    }
  }
}

div.node-title-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  min-width: 0;

  > .pf-v6-c-label {
    flex-shrink: 0;
  }

  &__abstract {
    margin-left: calc(0.875rem + 2 * var(--pf-t--global--spacer--sm));
  }
}

.datamapper-marker-field {
  width: 1.75rem;
  height: 1.25rem;
}
