#flows-list {
  max-height: 400px;
  overflow: auto;
}

table.flows-list-table {
  & thead {
    vertical-align: middle;
    position: sticky;
    background-color: var(--pf-t--global--background--color--primary--default);
    top: 0;
    z-index: 1;
  }

  & tr {
    vertical-align: middle;
  }

  /* This is to make the last two columns (Edit and Delete) to be the same width */

  /* Select the last two td elements from each tr */
  & tr td:last-child,
  & tr td:nth-last-child(2) {
    width: 1%;
    white-space: nowrap;
  }
}
