.flows-list-btn {
  padding-bottom: 0;
  padding-top: 0;
}

.flows-menu {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;

  .flows-menu-display {
    margin: 0 8px;
    text-align: left;
  }
}
