.phantom-rect {
  stroke: transparent;
  fill: transparent;
}

.foreign-object {
  overflow: auto;
}

.container-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pf-v5-global--palette--black-300);
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
  margin: 5px 5px 5px 0;

  &:hover {
    background-color: var(--pf-v5-global--palette--blue-600);
    border: none;
  }
}

.custom-group {
  --custom-group--BorderColor: var(--pf-v5-global--palette--black-400);
  --custom-group--BorderSize: var(--pf-v5-global--BorderWidth--md);
  --custom-group--BorderRadius: 15px;
  --custom-group--Background: var(--pf-v5-global--palette--white);
  --custom-group-TitleHeight: 32px;
  --custom-group-TitleBackground: var(--pf-v5-global--palette--blue-500);
  --custom-group-TitleColor: var(--pf-v5-global--palette--white);

  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  background-color: var(--custom-group--Background);
  color: var(--pf-v5-global--Color--100);
  border: 1px solid var(--custom-group--BorderColor);
  border-radius: 8px;

  &__title {
    display: flex;
    align-items: center;
    font-size: var(--pf-v5-global--FontSize--md);
    letter-spacing: 0.1rem;
    font-weight: bold;
    color: var(--custom-group-TitleColor);
    background-color: var(--custom-group-TitleBackground);
    height: var(--custom-group-TitleHeight);
    border: var(--custom-group--BorderSize) solid var(--custom-group-TitleBackground);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    &__img-circle {
      margin: 5px -10px 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      filter: brightness(0) invert(1);

      img {
        max-width: calc(var(--custom-group-TitleHeight) * 0.6);
        max-height: calc(var(--custom-group-TitleHeight) * 0.6);
      }
    }

    span {
      margin: 0 var(--pf-v5-global--FontSize--md);
      flex: 1 1 auto;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &:hover {
    --custom-group--BorderColor: var(--pf-v5-global--palette--blue-500);
  }

  &--selected {
    --custom-group--BorderColor: var(--pf-v5-global--palette--blue-500);
    --custom-group--Background: var(--pf-v5-global--palette--blue-50);
    --custom-group--BorderSize: var(--pf-v5-global--BorderWidth--md);
    --custom-group-TitleBackground: var(--pf-v5-global--palette--blue-500);
    --custom-group-TitleColor: var(--pf-v5-global--palette--white);

    &:hover {
      --custom-group--BorderColor: var(--pf-v5-global--palette--blue-500);
      --custom-group--Background: var(--pf-v5-global--palette--blue-50);
    }
  }

  &--disabled {
    filter: grayscale(100%);

    span {
      font-style: italic;
      text-decoration: line-through;
    }
  }
}
