.phantom-rect {
  stroke: transparent;
  fill: transparent;
}

.foreign-object {
  overflow: auto;
}

.container-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--pf-v5-global--Color--200);
  width: calc(var(--custom-group-TitleHeight) * 0.8);
  height: calc(var(--custom-group-TitleHeight) * 0.8);
  border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--palette--black-400);
  background-color: var(--pf-v5-global--palette--white);
  border-radius: 50px;
  cursor: pointer;
  margin-right: 5px;

  &:hover {
    border-color: var(--pf-v5-global--primary-color--light-100);
    background-color: var(--pf-v5-global--BackgroundColor--200);
  }
}

.custom-group {
  --custom-group--BorderColor: var(--pf-v5-global--palette--black-400);
  --custom-group--BorderSize: var(--pf-v5-global--BorderWidth--md);
  --custom-group--BorderRadius: 15px;
  --custom-group--Background: var(--pf-v5-global--palette--white);
  --custom-group-TitleHeight: 32px;
  --custom-group-TitleBackground: var(--pf-v5-global--palette--blue-200);
  --custom-group-TitleColor: var(--pf-v5-global--palette--black-900);

  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  background-color: var(--custom-group--Background);
  color: var(--pf-v5-global--Color--100);
  border-radius: var(--custom-group--BorderRadius);
  border: var(--custom-group--BorderSize) solid var(--custom-group--BorderColor);

  &__title {
    display: flex;
    align-items: center;
    font-size: var(--pf-v5-global--FontSize--md);
    font-weight: bold;
    color: var(--custom-group-TitleColor);
    border-top-left-radius: calc(var(--custom-group--BorderRadius) - 2px);
    border-top-right-radius: calc(var(--custom-group--BorderRadius) - 2px);
    background-color: var(--custom-group-TitleBackground);
    height: var(--custom-group-TitleHeight);

    &__img-circle {
      margin: 5px -10px 5px 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: calc(var(--custom-group-TitleHeight) * 0.9);
      height: calc(var(--custom-group-TitleHeight) * 0.9);
      border: var(--pf-v5-global--BorderWidth--sm) solid var(--pf-v5-global--palette--black-400);
      background-color: var(--pf-v5-global--palette--white);
      border-radius: 50px;

      img {
        max-width: calc(var(--custom-group-TitleHeight) * 0.6);
        max-height: calc(var(--custom-group-TitleHeight) * 0.6);
      }
    }

    span {
      margin: 0 var(--pf-v5-global--FontSize--md);
      flex: 1 1 auto;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  &:hover {
    --custom-group--BorderColor: var(--pf-v5-global--primary-color--light-100);
  }

  &--selected {
    --custom-group--BorderColor: var(--pf-v5-global--palette--blue-200);
    --custom-group--Background: var(--pf-v5-global--palette--blue-50);
    --custom-group--BorderSize: var(--pf-v5-global--BorderWidth--md);
    --custom-group-TitleBackground: var(--pf-v5-global--palette--blue-300);
    --custom-group-TitleColor: var(--pf-v5-global--palette--white);

    &:hover {
      --custom-group--BorderColor: var(--pf-v5-global--palette--blue-200);
      --custom-group--Background: var(--pf-v5-global--palette--blue-50);
    }
  }

  &--disabled {
    filter: grayscale(100%);

    span {
      font-style: italic;
      text-decoration: line-through;
    }
  }
}
