@use '../custom';

.custom-group {
  @include custom.highligth {
    &__container {
      @include custom.container;

      border: 1px solid var(--custom-node-BorderColor);
      border-radius: var(--custom-node-BorderRadius);
      background-color: var(--custom-node-BackgroundColor);
      text-align: left;

      @include custom.label {
        display: flex;
        position: relative;
        font-weight: bold;
        background-color: var(--pf-t--global--color--brand--100);
        color: var(--pf-t--global--text--color--on-brand--default);
        padding: calc(var(--pf-t--global--spacer--xs) / 2) var(--pf-t--global--spacer--xs);

        img {
          display: inline-block;
          position: relative;
          max-height: 20px;
          max-width: 20px;
          background-color: var(--pf-t--color--white);
          border-radius: calc(var(--custom-node-BorderRadius) / 2);
          padding: calc(var(--pf-t--global--spacer--xs) / 2);
        }

        span {
          margin: 0 var(--pf-t--global--spacer--sm);
        }

        [data-selected='true'] & {
          background-color: var(--custom-node-BorderColor);
        }

        [data-warnings='true'] & {
          background-color: var(--pf-topology__node--m-danger--Background--Fill);
        }
      }

      &__icon-placeholder {
        width: 20px;
        height: 20px;
        display: inline-block;
      }

      &:hover,
      [data-toolbar-open='true'] & {
        border-color: var(--custom-node-BorderColor-hover);
        box-shadow: var(--custom-node-Shadow);
      }

      [data-selected='true'] & {
        @include custom.selected;
      }

      [data-disabled='true'] & {
        @include custom.disabled;
      }

      [data-warnings='true'] & {
        &:hover,
        &[data-toolbar-open='true'] {
          border-color: var(--pf-topology__node--m-danger--Background--Fill);
          box-shadow: var(--custom-node-Shadow);
        }
      }

      [data-warnings='true'][data-selected='true'] & {
        border-color: var(--pf-topology__node--m-danger--Background--Fill);
        box-shadow: var(--custom-node-Shadow);
      }
    }

    &__disabled-icon {
      position: absolute;
      top: 0;
      right: 0;
      margin: var(--pf-t--global--spacer--xs);
    }

    &__autostart-icon {
      position: absolute;
      top: 2px;
      right: 8px;
      margin: var(--pf-t--global--spacer--xs);
      color: rgb(0, 0, 0);
      font-size: 16px;
      z-index: 2;
    }
  }

  &__toolbar {
    overflow: visible;
    text-align: center;
  }

  &__warning-icon--floating {
    border-radius: 15px;

    .floating-circle {
      border-radius: 15px;
      border-color: var(--pf-topology__node--m-danger--Background--Fill);
    }
  }
}
