.custom-nest-field {
  border-radius: 15px;

  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-card__body {
    display: grid;
    gap: var(--pf-v6-c-form--GridGap);
  }

  .pf-v6-c-expandable-section {
    --pf-v6-c-expandable-section__content--MarginTop: 0;
  }
}
