.properties-modal {
    .pf-v5-c-table__th { text-transform: capitalize; }
    .pf-v5-c-table__td[data-label="property"] { font-weight: bold; }
    .pf-v5-c-table__td[data-label="name"] { font-weight: bold; }
    span[data-label="required"] { font-weight: bold; }
    span[data-label="group"] { font-weight: normal; }
}