.properties-modal {
  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-table__th {
    text-transform: capitalize;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-table__td[data-label='property'] {
    font-weight: bold;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-table__td[data-label='name'] {
    font-weight: bold;
  }

  span[data-label='required'] {
    font-weight: bold;
  }

  span[data-label='autowired'] {
    font-weight: bold;
  }

  span[data-label='group'] {
    font-weight: normal;
  }

  &__body {
    height: 75vh;

    @media screen and (height <= 720px) {
      height: 100vh;
    }

    @media screen and (height <= 1080px) {
      height: 75vh;
    }

    @media screen and (height <= 1440px) {
      height: 60vh;
    }
  }

  &__title-div {
    display: flex;
  }

  &__title-image {
    height: 50px;
    width: 50px;
  }

  &__title {
    padding: 10px;
  }
}
