.properties-modal {
  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v5-c-table__th {
    text-transform: capitalize;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v5-c-table__td[data-label='property'] {
    font-weight: bold;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v5-c-table__td[data-label='name'] {
    font-weight: bold;
  }

  span[data-label='required'] {
    font-weight: bold;
  }

  span[data-label='autowired'] {
    font-weight: bold;
  }

  span[data-label='group'] {
    font-weight: normal;
  }
}
