.source-target-view {
  height: 100%;

  &__source-panel {
    height: 100%;
  }
  &__source-panel-main {
    height: 100%;
  }

  &__line-blank {}

  &__target-panel {
    height: 100%;
  }

  &__target-panel-main {
    height: 100%;
  }
}
