.array-badges-field {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: 160px;
  overflow-y: auto;
  padding-right: 8px;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__input-row {
    display: flex;
    gap: 0.5rem;
    align-items: flex-end;
  }

  &__input {
    flex: 1;
  }
}
