.step-toolbar {
  --custom-node-BorderColor: var(--pf-v5-global--BorderColor--100);
  --custom-node-BackgroundColor: var(--pf-v5-global--BackgroundColor--100);
  --custom-node-BorderRadius: 10px;
  --custom-node-Shadow: var(--pf-v5-global--BoxShadow--md);

  display: inline-block;
  position: relative;
  border: 2px solid var(--custom-node-BorderColor);
  border-radius: var(--custom-node-BorderRadius);
  box-shadow: var(--custom-node-Shadow);
  background-color: var(--custom-node-BackgroundColor);
  padding: var(--pf-v5-global--spacer--sm);

  &__button {
    margin-right: 1rem;
  }

  &__button:last-of-type {
    margin-right: 0;
  }
}
