@use '../../Custom/custom';

.step-toolbar-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-toolbar {
  @include custom.highligth {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    border: 1px solid var(--custom-node-BorderColor);
    border-radius: var(--custom-node-BorderRadius);
    box-shadow: var(--custom-node-Shadow);
    background-color: var(--custom-node-BackgroundColor);
    padding: var(--pf-t--global--spacer--sm);

    &__button {
      flex-shrink: 0;
      margin-right: 1rem;
    }

    &__button:last-of-type {
      margin-right: 0;
    }
  }
}
