.catalog {
  overflow: inherit;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  &__filter {
    margin-bottom: var(--pf-t--global--spacer--md);
  }

  &__base {
    margin-bottom: var(--pf-t--global--spacer--md);
  }
}
