.catalog-data-list-item {
  &__title-div-left {
    &__title {
      font-family: var(--pf-v6-global--FontFamily--heading);
      margin-right: 5px;
      margin-left: 5px;
    }

    &__icon {
      width: 25px;
      height: 25px;
      vertical-align: middle;
    }
  }

  &__title-div-right {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
  }

  @media (width >= 768px) {
    &__title-div-right {
      justify-content: right;
    }
  }

  &__description {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__provider {
    display: block;
    font-size: var(--pf-v6-c-card__body--FontSize);
    text-align: right;
    padding: 0 10px;
    font-weight: bold;
    background-color: var(--pf-v6-global--palette--blue-50);
  }
}
