.tile {
  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-card__actions {
    padding: 0;
    margin: 0;
  }

  &__header,
  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
  }

  &__icon {
    width: 25px;
  }

  &__name {
    text-align: center;
    min-height: 25px;
    font-size: small;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__title {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  &__body {
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__provider {
    font-size: var(--pf-v6-c-card__body--FontSize);
    text-align: right;
    padding: 0 10px;
    font-weight: bold;
    background-color: var(--pf-v6-global--palette--blue-50);
  }
}
