.canvas-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;

  &__header {
    padding: var(--cds-spacing-05);
  }

  &__body {
    flex: 1;
    padding: 0 var(--cds-spacing-05) var(--cds-spacing-05);
  }
}
