.canvas-form {
  height: 100%;

  &__body {
    overflow: auto;

    /** Added a transparent border to the card body. [https://github.com/KaotoIO/kaoto/issues/2053] */
    border: var(--pf-v6-c-card--BorderWidth) var(--pf-v6-c-card--BorderStyle) transparent;
  }
}
