:root {
  --background-color: #f5f5f5;
  --border-color: #d2d2d2;
  --foreground-color: #333;
}

.icons-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

  thead {
    background-color: var(--background-color);

    th {
      padding: 12px 16px;
      text-align: center;
      font-weight: 600;
      border: 1px solid var(--border-color);
      color: var(--foreground-color);
    }
  }

  tbody {
    td {
      padding: 20px;
      text-align: center;
      vertical-align: middle;
      border: 1px solid var(--border-color);
    }
  }
}

.icon-gallery-item {
  display: block;
  max-width: 32px;
  max-height: 32px;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  object-fit: contain;
}
