@use '../../styles/dnd';

.node {
  &__row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    &[data-draggable='false'] [data-drag-handler] {
      display: none;
    }

    &[data-draggable='true'] {
      @include dnd.cursor-grab;
    }
  }

  &__container {
    padding: 5px;
    padding-left: var(--pf-t--global--spacer--md);
  }

  &__header,
  &__children {
    border-bottom: 1px solid var(--pf-t--global--color--disabled--100);
    border-left: 1px solid var(--pf-t--global--color--disabled--100);
    padding-left: var(--pf-t--global--spacer--md);
    border-bottom-left-radius: var(--pf-v6-c-panel--BorderRadius);
  }

  &__children {
    padding: var(--pf-t--global--spacer--xs) var(--pf-t--global--spacer--md);
  }

  &__spacer {
    margin: var(--pf-t--global--spacer--sm) 0 var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--sm);
  }

  &__target__actions {
    flex-grow: 1;
    justify-content: end;
  }

  &__add__mapping {
    &__header {
      border-bottom: 1px dashed var(--pf-t--global--color--disabled--100);
      border-left: 1px dashed var(--pf-t--global--color--disabled--100);
      padding-left: var(--pf-t--global--spacer--md);
      border-bottom-left-radius: var(--pf-v6-c-panel--BorderRadius);
    }

    &__text {
      color: var(--pf-t--global--text--color--disabled);
    }

    &__icon {
      color: var(--pf-t--global--icon--color--disabled);
    }

    &__actions {
      flex-grow: 1;
      justify-content: left;
    }
  }
}

img {
  transition: transform 0.5s ease-in-out;
}

.toggle-icon {
  cursor: pointer;

  &--collapsed {
    transform: rotate(-90deg);
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.pf-v6-c-action-list__group {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  .pf-v6-c-button {
    --pf-v6-c-button--PaddingLeft: 0.5rem;
    --pf-v6-c-button--PaddingRight: 0.5rem;
  }

  .pf-v6-c-menu-toggle.pf-m-plain:not(.pf-m-text) {
    --pf-v6-c-menu-toggle--PaddingLeft: 0.5rem;
    --pf-v6-c-menu-toggle--PaddingRight: 0.5rem;
  }
}

.parameter-card {
  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-card__header {
    padding-block: 0;
    padding-inline: 0;
  }
}

.parameter-actions {
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  --pf-v6-c-action-list--child--spacer-base: 0.5rem;
  --pf-v6-c-action-list--group--spacer-base: 0.5rem;

  .pf-v6-c-button {
    --pf-v6-c-button--PaddingLeft: 0.5rem;
    --pf-v6-c-button--PaddingRight: 0.5rem;
  }
}

.selected-container {
  font-weight: bold;
  border-style: solid;
  border-color: var(--pf-v6-c-draggable--m-dragging--after--BorderColor);
  background-color: var(--pf-v6-c-draggable--m-dragging--BackgroundColor);
  border-radius: var(--pf-v6-c-draggable--m-dragging--after--BorderRadius);
}
