.node-title {
  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.popover {
  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
  }
}

div.node-title-container {
  display: flex;
  align-items: center;
}

.datamapper-marker-field {
  width: 1.75rem;
  height: 1.25rem;
}
