.node-title {
  &__text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
  }
}

.popover {
  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
  }
}
