.rest-dsl-details-panel {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rest-dsl-details-panel-header {
  display: flex;
  align-items: center;
  height: 56px;
  padding-top: 0;
  padding-bottom: 0;
}

.rest-dsl-details-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.rest-dsl-details-panel-title {
  margin: 0;
  line-height: 1;
  display: flex;
  align-items: center;
}

.rest-dsl-details-panel-body {
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.rest-dsl-details-to-uri-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

.rest-dsl-details-to-uri-row > :first-child {
  flex: 1 1 auto;
  min-width: 0;
}
