.kaoto-form {
  --pf-v6-c-form__field-group-body--PaddingBlockStart: 0;

  &__label {
    --pf-v6-c-form__label--FontSize: --pf-t--global--font--size--body--md;
    --pf-v6-c-form__label-required--FontSize: --pf-t--global--font--size--body--lg;

    text-transform: capitalize;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-text-input-group__text-input::placeholder {
    font-style: italic;
  }

  & &__string-field {
    /*
     The error icon in the TextField component needs to be separated from the field
     using the pf-m-icon class. This class is used to add padding to the icon.
     Nevetheless the padding-inline-start property is set to initial to remove the
     left padding added by the pf-m-icon class.
     */
    --pf-v6-c-text-input-group__text-input--PaddingInlineStart: 1rem;
  }

  &__empty {
    display: none;
  }

  &:empty + &__empty {
    display: block;
  }
}
