.kaoto-form {
  --pf-v6-c-form__field-group-body--PaddingBlockStart: 0;
  --pf-v6-c-form__field-group-header--PaddingBlockEnd: 0;

  &__label {
    --pf-v6-c-form__label--FontSize: --pf-t--global--font--size--body--md;
    --pf-v6-c-form__label-required--FontSize: --pf-t--global--font--size--body--lg;

    text-transform: capitalize;
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-text-input-group__text-input::placeholder {
    font-style: italic;
  }

  &__empty {
    display: none;
  }

  &:empty + &__empty {
    display: block;
  }
}
