@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.cs--explorer {
  inline-size: 240px;
  flex-shrink: 0;
  block-size: 100%;
  background-color: $layer;
  display: flex;
  align-items: flex-start;
  padding: $spacing-05;
}
