.mapping-link {
  stroke: gray;
  stroke-width: 3;
  pointer-events: auto;

  &:hover {
    stroke-width: 6;
  }

  &--selected {
    stroke: var(--pf-t--global--border--color--brand--default);
    stroke-width: 6;
  }

  &--partial {
    stroke-dasharray: 5, 5;
    opacity: 0.5;
  }
}
