.source-target-view {
  height: 100%;
  overflow-x: auto;
  position: relative;

  &__source-split {
    width: 30%;
    min-width: 300px;
  }

  &__line-blank {
    width: 10%;
    min-width: 1px;
    overflow-x: clip;
  }

  &__target-split {
    width: 60%;
    min-width: 300px;
  }

  &__source-split,
  &__target-split {
    position: relative;
    display: flex;
    flex-flow: column;
    border-radius: var(--pf-t--global--border--radius--small);
    border: 1px solid var(--pf-t--global--border--color--default);
  }
}
