.field-context-menu {
  box-shadow: var(--pf-t--global--box-shadow--md);
  border: var(--pf-t--global--border--width--box--default) solid var(--pf-t--global--border--color--default);
  border-radius: var(--pf-t--global--border--radius--small);
  background-color: var(--pf-t--global--background--color--primary--default);
}
