@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/theme' as *;

.cs--project-toolbar {
  display: flex;
  align-items: center;
  block-size: $spacing-08; // 40px
  flex-shrink: 0;
  background-color: $background;
  border-block-end: 1px solid $border-subtle;
}

.cs--project-toolbar__controls {
  display: flex;
  align-items: center;
  padding-inline: $spacing-03;
  gap: $spacing-02;
}
