.runtime-selector {
  &__description {
    word-break: keep-all;
  }

  &__submenu {
    width: max-content;
  }
}

.runtime-selector-display {
  display: flex;
  flex-direction: row;
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  align-self: anchor-center;
  gap: 8px;
}
