.shell {
  &__logo {
    max-width: 100px;
  }

  &__link {
    margin-left: auto;
  }

  &__body {
    height: 100%;
    position: relative;
  }

  &__page-section {
    height: 100%;
  }
}

.pf-v6-c-panel {
  --pf-v6-c-panel--m-scrollable__main--MaxHeight: none;
}

.pf-v6-u-hidden {
  display: none;
  clip: rect(0 0 0 0);
}
