.datamapper-howto {
  flex-flow: column;
  justify-content: start;
  font-size: var(--pf-v5-c-card__body--FontSize);
  padding: 0 var(--pf-v5-global--spacer--md);

  & ol {
    margin-bottom: calc(var(--pf-v5-global--spacer--xl) * 2);

    li {
      margin-bottom: var(--pf-v5-global--spacer--xl);
      border-bottom: 1px solid var(--pf-v5-global--palette--black-300);

      &::marker {
        font-weight: bold;
      }
    }
  }

  img {
    margin: var(--pf-v5-global--spacer--md) 0;
    border: 1px solid var(--pf-v5-global--palette--black-300);
    padding: var(--pf-v5-global--spacer--sm);
    border-radius: calc(var(--pf-v5-global--BorderRadius--sm) * 2);
  }
}
