.canvas-surface {
  display: flex;
  flex-flow: column;

  .pf-topology-content {
    border-radius: 15px;
  }
}

// Override for the default patternfly class
.pf-v5-u-m-sm {
  margin: var(--pf-v5-global--spacer--sm);
}
