.canvas-surface {
  display: flex;
  flex-flow: column;

  .pf-topology-content {
    border-radius: var(--pf-t--global--border--radius--medium);
  }
}

.kaoto-node-context-menu-popper {
  .pf-topology-context-menu__c-dropdown__menu {
    max-height: calc(100vh - 16px);
    overflow-y: auto;
  }
}
