@use '../custom';

.custom-node {
  @include custom.highligth {
    &__container {
      @include custom.container;

      display: flex;
      flex-flow: column nowrap;
      justify-content: space-around;

      &__image {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        img {
          border: 2px solid var(--custom-node-BorderColor);
          border-radius: var(--custom-node-BorderRadius);
          background-color: var(--custom-node-BackgroundColor);
          padding: var(--pf-v5-global--spacer--sm);
          height: 60px;
          width: 60px;
        }
      }

      &__label {
        @include custom.text;
      }

      &:hover img {
        border-color: var(--custom-node-hover-BorderColor);
        box-shadow: var(--custom-node-Shadow);
      }

      [data-selected='true'] & img {
        @include custom.selected;
      }

      [data-disabled='true'] & {
        @include custom.disabled;
      }
    }

    &__warning {
      --pf-topology__node_decorator--Color: var(--custom-node-BorderColor);
    }
  }

  &__toolbar {
    overflow: visible;
    text-align: center;
  }
}
