/* stylelint-disable */

.custom-node {
  &__image {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: 100%;
    justify-content: center;

    img {
      max-height: 80%;
      max-width: 95%;
    }
  }

  &[data-disabled='true'] &__image {
    filter: grayscale(100%);
  }

  &--disabled {
    --pf-topology__node_decorator--Color: var(--pf-v5-global--BackgroundColor--dark-200);
  }
}

.custom-node__label--disabled {
  font-style: italic;
  text-decoration: line-through;
}

.custom-node__label {
  z-index: 20;
}

/* Ensure selected state has higher specificity */
.custom-node__label--selected, .custom-node__label--selected:hover {
  --pf-topology__node__label__background--Stroke: var(--pf-topology__node--m-selected--node__label__background--Stroke);
  --pf-topology__node__label__background--Fill: var(--pf-topology__node--m-selected--node__label__background--Fill);
  --pf-topology__node__separator--Stroke: var(--pf-topology__node--m-selected--node__label__text--m-secondary--Fill);
  --pf-topology__node__action-icon__icon--Color: var(--pf-topology__node--m-selected--action-icon__icon--Color);
  --pf-topology__node__label__text--Fill: var(--pf-topology__node--m-selected--node__label__text--Fill);
  --pf-topology__node__label__text--m-secondary--Fill: var(--pf-topology__node--m-selected--node__label__text--m-secondary--Fill);

  z-index: 50;
}