.runtime-selector-display {
  display: flex;
  /* stylelint-disable-next-line declaration-property-value-no-unknown */
  align-self: anchor-center;

  /* stylelint-disable-next-line selector-class-pattern */
  .cds--toggletip-label {
    font-size: var(--cds-label-02-font-size);
    color: var(--cds-text-primary);
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .cds--toggletip {
    align-self: center;
  }
}
