@use '../custom';

.add-step-icon {
  @include custom.highligth {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &__icon {
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: 2px dashed var(--custom-node-BorderColor-hover);
      background-color: var(--custom-node-BackgroundColor);
      box-shadow: var(--custom-node-Shadow);
      color: var(--pf-topology__edge--Stroke);
    }
  }
}
