/* stylelint-disable */

.custom-edge {
  --pf-topology__edge--m-hover--background--Stroke: none;
  background: var(--pf-v5-global--palette--white);
  &__end {
    border-radius: 3px;
    border: 1px solid var(--pf-v5-global--palette--black-400);
    --pf-topology__node--Color: var(--pf-v5-global--palette--black-500);
    width: 24px;
    height: 24px;
    padding: 3px;
    display: flex;
    position: relative;

    &:hover {
      border-color: var(--pf-v5-global--palette--blue-500);
    }
  }
}
