@use '../custom';

.custom-edge {
  @include custom.highligth {
    &__background {
      stroke-width: 10px;
      stroke: transparent;
      fill: none;
    }

    &__body {
      stroke: var(--pf-topology__edge--Stroke);
      stroke-width: 1;

      &__validDropTarget {
        stroke: var(--custom-component-dropTarget);
        stroke-dasharray: 5, 5;
        stroke-width: 3;
      }
    }

    &__connector {
      stroke: var(--pf-topology__edge--Stroke);
      stroke-width: 1;
      fill: var(--pf-topology__edge--Stroke);

      &__validDropTarget {
        stroke: var(--custom-component-dropTarget);
        stroke-width: 3;
        fill: var(--custom-component-dropTarget);
      }
    }

    & &__add-step {
      display: none;
    }

    &:hover &__add-step {
      display: flex;
    }
  }
}
