#topology-resize-panel {
  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-drawer__splitter::after {
    border: none;
  }
}

.canvas-empty-state {
  position: absolute;
  height: 100%;
  width: 100%;
}

.hidden {
  visibility: hidden;
}
