.canvas-sidebar {
  overflow: hidden;
  max-height: 100%;

  img[class^='sidebar-icon-'] {
    max-height: 40px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
