.settings-form-card {
  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-card__body {
    flex: 1;
    overflow: hidden auto;
  }

  .alert-catalog-url {
    margin-bottom: 24px;

    /* stylelint-disable-next-line selector-class-pattern */
    .pf-v6-c-alert__icon {
      align-content: center;
    }
  }

  /* stylelint-disable-next-line selector-class-pattern */
  .pf-v6-c-card__footer {
    padding-block-start: var(--pf-v6-c-card--first-child--PaddingBlockStart);
  }

  [data-testid='#.runtimeCatalogName__field-wrapper'],
  [data-testid='#.testingCatalogName__field-wrapper'] {
    display: none;
  }
}
